@font-face{
  font-family: 'Formula1';
  src: url('fonts/Formula1-Wide_web_0.ttf');
  font-weight: 500;
}
@font-face{
  font-family: 'Formula1';
  src: url('fonts/Formula1-Regular_web_0.ttf');
  font-weight: 400;
}
@font-face{
  font-family: 'Formula1';
  src: url('fonts/Formula1-Bold_web_0.ttf');
  font-weight: 700;
}
*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  image-rendering: -webkit-optimize-contrast;
}